.dashboard{
  display: block;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.main-logo{
  width: 80%;
  padding-left: 10%;
  text-align: center;
}

.line-break{
  background-color: var(--dark-grey-2);
  height: 1px;
  margin: 5%;
}

.controls{
  width: fit-content;
}

.main-controls{
  display: flex;
  padding: 2em;
  background-color: var(--gold-tint);
  border-radius: 16px;
}

.main-controls button{
  width: 256px;
}


.data-mgmt{
  display: block;
  width: fit-content;
  padding-right: 32px;
}

.data-mgmt > button{
  display: block;
  width: fit-content;
}

#upload-data{
  padding-bottom: 32px;
}

.timetable-mgmt{
  display: flex;
}

.app-mgmt{
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--gold-tint);
  border-radius: 16px;
}

.main-controls button{
  font-size: 2em;
  padding: 0.5em;
}
.app-mgmt button{
  padding: 0.5em;
  width: 128px;
  font-size: 1em;
}

.control-gap{
  height: 2em;
}


.file-drop-box-overlay, .file-drop-box{
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.file-drop-box-overlay{
  width: 100vw;
  height: 100vh;
  background-color: #000000c0;
}


.file-drop-box{
  margin: auto;
  display: flex;
  background-color: var(--white);
  width: 384px;
  height: 128px;
  padding: 32px;
  border-radius: 16px;
  border-style: dashed;
  border-color: var(--gold);
  transition: 5s;
}

.file-input{
  width: 100%;
  margin: auto;
}
.file-input > input{
  padding-bottom: 32px;
}

.file-input > input, .file-input > button{
  margin: auto;
  margin-bottom: 8px;
  font-size: 1.5em;
  display: flex;
}

.template-link > p, .template-link{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  color: #222;
  margin-bottom: 8px;
}


.file-container{
  display: inline;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.file-contents, .dropbox-title{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  text-align: center;
}

.file-contents, h2{
  margin: auto 0 auto 0;
  padding-left: 8px;
}