.manageTimetable{
  background-color: #ffffff;
  width: 100%;
  display: block;
}

.timetable-calendar{
  margin-top: 100px;
  height: 825px;

}

.calendar-view{
  height: 700px;
}

.course-filter {
  margin: 8px auto 8px auto;
  justify-content: center;
  text-align: center;
}

.timetable-save {
  display: flex;
  margin-right: 32px;
  margin-left: auto;
  font-size: 1.5em;
  padding: 8px;
  margin: 4px;
}

.tutorial-visibility {
  text-align: center;
}
.tutorial-visibility > button {
  font-size: 18pt;
  margin: 8pt;
  width: 96pt;
  border-color: #444444;
}

.manage-timetable-buttons{
  width: 100%;
  display: inline;
}

.created{
  text-align: center;
  margin-right: 8px;
  width: fit-content;
}

.bottom-bar{
  display: flex;
}


.change-room-overlay, .change-room{
  z-index: 10000;
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.change-room-overlay{
  width: 100vw;
  height: 100vh;
  background-color: #000000c0;
}


.change-room{
  margin: auto;
  background-color: var(--white);
  width: fit-content;
  height: fit-content;
  padding: 32px;
  border-radius: 16px;
  border-style: dashed;
  border-color: var(--gold);
  transition: 5s;
}

.change-room-buttons {
  display: inline-block;
  
}

.change-room-buttons > button {
  height: fit-content;
  padding: 16px;
  margin: 0px 4px 0px 4px;
}

.change-room {
  display: inline;
}