@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

:root{
  --black: #000000;
  --dark-grey-1: #0D0D0D;
  --dark-grey-2: #191919;
  --white: #FFFFFF;
  --light-grey-1: #E6E6E6;
  --light-grey-2: #F2F2F2;
  --gold: #BE830E;
  --gold-tint: #F5EDDE;

}

.App {
  display: flex;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
}



button{
  background-color: var(--gold);
  font-family: public Sans; 
  border: 2px solid var(--gold);
  border-radius: 16px;
  transition: ease;
  transition-duration: 0.3s;
}

button:hover{
  background-color: var(--gold-tint);
}



